*{
    box-sizing: border-box;
    margin:0;
}


.container{
    color:rgb(15, 16, 16);
    width:90%;
    position:absolute;
    top:3rem;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}
.small-container
{
 
    transform: translate(5rem,5rem);
}

#texttospeech{
    height:40rem;
    width:40rem;
}

.buttons{
    transform: translateY(2rem);

}

