 *,
body {

    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 1rem;
     z-index: 10; 
    background-color: white;
    width: 500px;
    max-width: 50%;
}

.modal .active{
   
    transform: translate(-50%, -50%) scale(1);
    
}


.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}


.modal-header .modal-title {
    font-weight: bold;
    cursor: pointer;
    outline: none; 
    background: none;
}

.modal-body{
    padding: 10px;
}



 #overlay {
    position:fixed;
    opacity:0;
    transition: 200ms ease-in-out;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: #605d5daa;
    pointer-events:none;
}

#overlay .active{
    /* opacity:1; */
    pointer-events: all;
}  