html,body{
    height:100%;
    width:100%;
}


.flex{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.button{
    
    width:70px;
    color: black;
    background-color: aqua;
    padding:8px;
    margin:5px;
    border:2px solid rgb(118, 86, 86);
    border-radius:10px;
}

.screen input{
    padding:5px;
    width:19.4rem;
    height:1.5rem;
    margin:1rem;
    border-radius:10px;
    border: 2px solid tan;
}